/******************************************************/
/***Main Things***/
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  /*text-align: center;*/
}

#miniCharts p {
  text-transform: uppercase;
  font-size: 90%;
}

section {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /*flex-flow: row;*/
  color: #f3f3f3;
  position: relative;
}

#page-1 {
  background-color: #2d2d2d;
}

#page-2 {
  background-color: #232323;
}

#page-3 {
  background-color: #191919;
}

.anchors {
  display: none;
}

nav {
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a span {
  background: #fff;
}

nav li {
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

nav span:after {
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

nav li .active span {
  background: black;
  position: absolute;
}

nav li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

nav ul li a {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

nav ul li a.active span,
nav ul li:hover a.active span {
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

nav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: black;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

nav ul li:hover a span {
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: #212121;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0);

}

h1,h2,h3, h4, h5{
  font-family: 'Manrope', sans-serif;
  color: white;
  line-height: 1.4em;
  padding-top: 10px;
  text-align: left;
}
h1{
  font-size: 220%;
  text-indent:-1em;
  margin-left:70px;
}
h2{
  font-size: 200%;
}
h3 {
  font-size: 150%;
  padding-top:10px;
}
h4{
  font-size:100%;
  margin:10px auto 0px auto;
}
h5{
  font-size:130%;
  margin:0px;
}
.title-wrapper-centered{
  width:1000px;
  margin:0px auto 0px auto; 
}
.svg {
  display: block;
  margin: auto;
}

.legend-p1 {
  margin-left: 20px;
  margin-top: 5px;
  text-align: center;
}

#subtitle-page-1 {
  width: 250px;
  margin: auto;
  display: block;

}
#subtitle-page-1 > div{
  display:flex;
}
#subtitle-page-1 > div div{
  padding-left:20px;
}

.line {
  fill: none;
  stroke: green;
  stroke-width: 5px;
}

path.line {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #848484;
  shape-rendering: crispEdges;
}

.axis {
  fill: #848484;

}

.donut {
  /* stroke: transparent; */
}

#miniCharts {
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.miniChartDiv {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.miniChartDiv10 {
  /* Center Last Row */
  margin-left: 180px;
}

#menu-page-2 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 0px auto;
}

#container-menu-2 {
  margin-right: 150px;
}

#dropdown-major {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 40px;
  padding-left: 10px;
  background: #232323;
  color: #f3f3f3;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  border: 1px solid #848484;
}

/*Style radio button Credits: https://tipue.com/blog/radio-checkbox/*/
.form-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #848484;
  color: #666;
  top: 5px;
  height: 20px;
  width: 20px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-right: 7px;
  outline: none;
}

.form-radio:checked::before {
  position: absolute;
  font: 13px/1 'Open Sans', sans-serif;
  left: 7px;
  top: 3px;
  content: '\02143';
  transform: rotate(40deg);
}

.form-radio:hover {
  background-color: #f7f7f7;
}

.form-radio:checked {
  background-color: #f1f1f1;
}

label {
  font: 15px/1.7 'Open Sans', sans-serif;
  color: #848484;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.axisLabel {
  font: 15px/1.7 'Open Sans', sans-serif;
  fill: #848484;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

label:hover {
  color: #f3f3f3;
}

.tooltipInfo {
  margin-left: 20px;
  width: 250px;
  pointer-events:none;
}

#stats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1240px;
  height: 800px;
  margin: auto;
  margin-top: 20px;

}

.stats-item {
  height: 400px;
  width: 560px;
  background-color: #1a1a1a;
  margin: 10px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  color: white;
  -webkit-box-shadow: 2px 0px 8px 0px rgba(20, 20, 20, 0.75);
  -moz-box-shadow: 2px 0px 8px 0px rgba(20, 20, 20, 0.75);
  box-shadow: 2px 0px 8px 0px rgba(20, 20, 20, 0.75);
  border-radius: 15px;
}
#stat1, #stat3{
  padding-left:40px;
}
#stat2, #stat4{
  padding-right:40px;
}
#stat1-wrapper{
  width: 75%;
  margin-top:15px;
  margin-left:40px;
}
#men-bar{
  background-color: #FAA601;
  height:40px;
  position:absolute;
  border-radius:15px 0px 0px 15px;
}
#women-bar{
  background-color: #ab5093;
  height:40px;
  border-radius: 15px;
  position:absolute;
}
#credits {
  color: white;
  text-align: center;
  margin-top: 20%;
}
#credits a{
  font-size:80%;
}

.innerStat {
  position: relative;
  /* top: 50%; */
}

a {
  text-decoration: none;
  color: white;
}

p.stat1{
  margin-left:-50px;
  font-size:100%;
}

#stat1-spacer {
  height: 10px;
}
#stat1-text{
  font-size:90%;
}
.stat1-text{
  font-size:80%;
  margin-top:5px;
  text-shadow: 1px 1px 5px rgb(52,52,52);
}
input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin-top:-10px;
  width: 60%;
  background: None;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track{
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #2D2D2D;
  border-radius: 1px;
  border: 0px solid #010101;
}
/*, selector doesnt work..*/
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000;
  background: #2D2D2D;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb{
  box-shadow: 1px 1px 5px #191919;
  border: 1px solid #191919;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #F3F3F3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]::-moz-range-thumb{
  box-shadow: 1px 1px 5px #191919;
  border: 1px solid #191919;
  height: 26px;
  width: 26px;
  border-radius: 50px;
  background: #F3F3F3;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
